# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment
.env
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# Other
*.bak
*.swp
*.tmp
.DS_Store